body{
	background:#ccc;
	margin:0;
	padding:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header{
	background:#fff;
	color:#fff;
	padding-top:30px;
	min-height:70px;
	border-bottom:gray 1px solid;
}

header a{
	text-decoration:none;
	color:#808080;
}

header ul{

}

header nav li{
	list-style:none;
	display:inline;
	padding-right:15px;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header #yousseflogo{
	float:left;
	margin-top:-15px;
	max-width:200px;
}

@media(max-width: 768px){
	header #yousseflogo,
	header nav,
	header nav li{
		float:none;
		width:100%;
		text-align:center;
	}

	header{
		padding-bottom:20px;
	}

	header li{
		overflow:hidden;
	}	

	#yousseflogo{
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	#me{
		display:none;
	}